{% extends 'core/base.html' %}

{% load static %}



{% block content %}
<link rel="styleSheet" type="text/css" href="{% static 'core/css/tarjetas.css' %}">
  <section>
    <div class="container">   
      <h1>Tarjetas de Regalo</h1>
      <div class="row">       
        <div class="col-md-10 col-sm-12 col-xs-4 col-lg-4 col-xl-4">        
          <div class="card">
            <img class="card-img-top" src="{% static 'core/img/play_10.jpg' %}" alt="Google play 10">            
            <div class="card-body">
              <h4 class="card-title">Google Play $10 - USA</h4>
              <p class="card-text">Antes de canjear el código, lea detenidamente el siguiente tutorial, incluso si ha canjeado códigos anteriormente, ya que si su cuenta no esta bien configurada podría bloquear el código.</p>
              <a href="{% url 'form' %}" class="btn boton">$8.390</a>
              <a target="_blank" href="https://chilecodes.cl/cambiar-pais/cambiar-pais.html" class="btn boton">Tutorial</a>
            </div>
          </div>          
        </div>
        <div class="col-md-10 col-sm-12 col-xs-4 col-lg-4 col-xl-4">        
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Google Play $25 - USA</h4>
              <p class="card-text">Antes de canjear el código, lea detenidamente el siguiente tutorial, incluso si ha canjeado códigos anteriormente, ya que si su cuenta no esta bien configurada podría bloquear el código. </p>
              <a href="{% url 'form' %}" class="btn boton">$21.290</a>
              <a target="_blank" href="https://chilecodes.cl/cambiar-pais/cambiar-pais.html" class="btn boton">Tutorial</a>
            </div>
            <img class="card-img-bottom" src="{% static 'core/img/play_25.jpg' %}" alt="Google play 25">                          
          </div>          
        </div>
        <div class="col-md-10 col-sm-12 col-xs-4 col-lg-4 col-xl-4">        
          <div class="card">
            <img class="card-img-top" src="{% static 'core/img/play_50.jpg'  %}" alt="Google play 50"> 
            <div class="card-body">
              <h4 class="card-title">Google Play $50 - USA</h4>
              <p class="card-text">Antes de canjear el código, lea detenidamente el siguiente tutorial, incluso si ha canjeado códigos anteriormente, ya que si su cuenta no esta bien configurada podría bloquear el código.</p>
              <a href="{% url 'form' %}" class="btn btn-primary boton">$41.990</a>
              <a target="_blank" href="https://chilecodes.cl/cambiar-pais/cambiar-pais.html" class="btn boton">Tutorial</a>
            </div>                      
          </div>          
        </div>
      </div>
    </div>
    <div class="container">   
      <div class="row">       
        <div class="col-md-10 col-sm-12 col-xs-12 col-lg-4 col-xl-4">        
          <div class="card">
            <img class="card-img-top" src="{% static 'core/img/xbox10.jpg' %}" alt="Xbox 10" >           
              <div class="card-body">
                <h4 class="card-title">Xbox Gift Card $10.000 Chile</h4>
                <p class="card-text">Canjear en: http://microsoft.com/redeem</p>
                <a href="{% url 'form' %}" class="btn btn-primary boton">$10.000</a>
              </div>
          </div>          
        </div>    
        <div class="col-md-10 col-sm-12 col-xs-4 col-lg-4 col-xl-4">        
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Xbox Gift Card $20.000 Chile</h4>
              <p class="card-text">Canjear en: http://microsoft.com/redeem</p>
              <a href="{% url 'form' %}" class="btn btn-primary boton">$20.000</a>
            </div>
            <img class="card-img-bottom" src="{% static 'core/img/xbox20.jpg' %}" alt="Xbox 20">                        
          </div>          
        </div>   
        <div class="col-md-10 col-sm-12 col-xs-4 col-lg-4 col-xl-4">        
          <div class="card">
            <img class="card-img-bottom" src="{% static 'core/img/play12.jpg' %}" alt="Play 12"> 
            <div class="card-body">
              <h4 class="card-title">Playstation Plus 12 Meses Chile</h4>
              <p class="card-text">Algunos codigos permiten ser canjeados en cuentas de otros paises, sin embargo solo se asegura que funciona para el pais que es ofrecido. Este codigo puede ser canjeado en cuentas de otros paises de America.</p>
              <a href="{% url 'form' %}" class="btn btn-primary boton">$35.990</a>
            </div>                       
          </div>          
        </div>
      </div>
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="js/bootstrap.min.js"></script>
{% endblock %}

